@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: Fortnite;
    src: url('fonts/fortnite.otf');
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: radial-gradient(#fff 0%, #0059a1 100%);
    min-height: 100vh;
}

.card span {
    display: flex;
    height: 64px;
    align-items: stretch;
}

#name {
    align-items: center;
}

#v_buck {
    margin-left: 5px;
}

.overall h1 {
    font-family: Fortnite, 'Arial';
    font-size: 3rem;
    color: white;
    letter-spacing: 1px;
}

.row {
    display: flex;
    font-size: 1.4rem;
}

.numbers {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    color: white;
    font-family: 'Poppins', Helvetica, sans-serif;
    align-items: center;
}

.stat {
    width: 100%;
    height: 32%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: 'Poppins', Helvetica, sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
}

.stat_value {
    font-weight: 700;
    font-size: 1.5rem;
}

.numbers p:after {
    content: '.';
    visibility: hidden;
}

.gamemode {
    font-family: 'Fortnite', Arial;
    letter-spacing: 1px;
}

.statcard {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.stat_response {
    margin-top: 50px;
    display: flex;
}

.stat_response #playerName {
    height: 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 0;
    font-family: 'Fortnite', Arial;
    text-align: center;
}

.stat_response #getName {
    margin-left: 20px;
    width: auto;
    padding: 0 5px;
    border: 0;
    border-radius: 10px;
    background: rgb(71, 112, 247);
    color: white;
    font-weight: 400;
    font-family: 'Poppins', Helvetica, sans-serif;
}

#playerName,
#getName {
    user-select: text;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.menu {
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    bottom: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu a {
    font-family: 'Poppins', Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.menu #link {
    font-size: 1.4rem;
}

.menu #link:hover {
    color: salmon;
}

#cards_featured {
    margin-bottom: 100px;
}


/*MOBILE*/

@media only screen and (max-width: 768px) {
    header {
        margin-top: 15px;
        font-family: 'Fortnite', Arial;
        font-size: 25px;
        height: 100px;
        text-align: center;
        color: white;
    }
    #cards_daily,
    #cards_featured,
    #cards_featured_special {
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: 160px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 5px;
        width: 100%;
        max-width: 1740px;
        position: relative;
        flex-wrap: wrap;
        border-radius: 15px;
    }
    #OTSIKKO {
        font-family: 'Fortnite', Arial;
        font-size: 3rem;
        position: absolute;
        top: -91px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: max-content;
        padding: 0px 10px;
        border-radius: 10px 10px 0px 0px;
        color: white;
    }
    .timer {
        font-family: 'Monospace', Arial;
        position: absolute;
        font-size: 15px;
        top: -33px;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: white;
        width: 290px;
        padding: 5px 5px 10px;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        display: block;
        font-weight: 700;
    }
    .card {
        display: flex;
        background-color: rgb(148, 148, 150);
        width: 160px;
        height: 240px;
        border-radius: 15px;
        padding: 10px 0px 0px 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-family: 'Poppins', Arial;
        font-size: 1rem;
        margin: 15px 10px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        text-align: center;
        overflow: hidden;
    }
    #image {
        max-height: 160px;
        max-width: 100%;
    }
    .statcard {
        margin-top: 20px;
        display: flex;
        height: auto;
        width: 100vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        background-size: cover;
    }
    .stat_value {
        font-size: 1.2rem;
    }
    .overall {
        width: 100%;
        height: 440px;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        padding: 10px 5px;
        flex-direction: column;
        border-radius: 10px;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
    .modes {
        display: flex;
        width: 100%;
        height: 440px;
        flex-direction: column;
        justify-content: space-between;
    }
    .mode_numbers {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;
    }
}


/*DESKTOP*/

@media only screen and (min-width: 768px) {
    header {
        font-family: 'Fortnite', Arial;
        font-size: 45px;
        height: 160px;
        text-align: center;
        color: white;
        margin-top: 30px;
        letter-spacing: 1px;
    }
    #cards_daily,
    #cards_featured,
    #cards_featured_special {
        margin-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        width: 90%;
        max-width: 1740px;
        position: relative;
        flex-wrap: wrap;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 15px;
    }
    #OTSIKKO {
        font-family: 'Fortnite', Arial;
        position: absolute;
        font-size: 40px;
        top: -81px;
        left: 0px;
        color: white;
        width: max-content;
        padding: 0px 10px 0px 10px;
        border-radius: 10px 10px 0px 0px;
    }
    .timer {
        font-family: 'Monospace', Arial;
        position: absolute;
        font-size: 15px;
        top: -33px;
        right: 0px;
        color: white;
        width: 290px;
        padding: 5px 5px 10px;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        display: block;
        font-weight: 700;
    }
    .card {
        display: flex;
        background-color: rgb(148, 148, 150);
        width: 230px;
        height: 340px;
        border-radius: 15px;
        padding: 10px 0px 0px 0px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-family: 'Poppins', Arial;
        font-size: 22px;
        margin: 15px 10px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        text-align: center;
        overflow: hidden;
        transition: box-shadow 0.2s;
    }
    .card:hover {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
    }
    #image {
        max-height: 230px;
        max-width: 100%;
    }
    .statcard {
        margin-top: 50px;
        display: flex;
        height: 460px;
        width: 800px;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        background: url(img/stat_bg.webp);
        background-size: cover;
    }
    .overall {
        width: 40%;
        height: 440px;
        background-color: rgba(0, 0, 0, 0.5);
        margin-right: 10px;
        display: flex;
        align-items: center;
        padding: 10px 5px;
        flex-direction: column;
        border-radius: 10px;
        justify-content: space-evenly;
    }
    .modes {
        display: flex;
        width: 55%;
        height: 440px;
        flex-direction: column;
        justify-content: space-between;
    }
    .mode_numbers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stat_response #getName:hover {
        cursor: pointer;
    }
}